In [23]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv('titanic.csv')

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
np.random.seed(8)
df=df.sample(frac=1,ignore_index=True)

In [28]:
div=int(df.shape[0]//4)
train=df.loc[:3*div+1,:]
test=df.loc[3*div+1:]

In [29]:
test['simple_mode']=train['Survived'].mode()[0]

In [13]:
from sklearn.metrics import accuracy_score

In [30]:
accuracy_score(test['Survived'],test['simple_mode'])

0.6160714285714286

In [31]:
pd.crosstab(train['Survived'],train['Sex'])

Sex       female  male
Survived
0             63   349
1            171    85

In [36]:
test['gender_mode']=0
for i in  train['Sex'].unique():
    test['gender_mode'][test['Sex']==i]=train['Survived'][train['Sex']==i].mode()[0]

In [37]:
accuracy_score(test['Survived'],test['gender_mode'])

0.8125

In [34]:
test['gender_class_mode']=0
test['gender_mode']=0
for i in  train['Sex'].unique():
    for j in train['Cabin'].unique():
        test['gender_class_mode'][(test['Sex']==i) & (train['Pclass']==j)]=train['Survived'][(train['Sex']==i) & (train['Pclass']==j
                                                                                                       )].mode()[0]

In [35]:
accuracy_score(test['Survived'],test['gender_mode'])

0.6160714285714286

In [38]:
test.Cabin.unique()

array([nan, 'B41', 'B94', 'A19', 'C124', 'D7', 'D20', 'C78', 'D', 'A10',
       'C7', 'B28', 'E77', 'B73', 'C106', 'C22 C26', 'C65', 'E67', 'E36',
       'F33', 'C87', 'C62 C64', 'E33', 'C50', 'C99', 'B69', 'E121', 'B35',
       'B49', 'B96 B98', 'B50', 'C92', 'E58', 'F2', 'B58 B60', 'A16',
       'C111', 'F G73', 'C83', 'B102', 'E25', 'C93', 'B57 B59 B63 B66',
       'D47', 'F4', 'D28', 'C68', 'A7', 'B80', 'C52', 'C90', 'B42',
       'C118', 'D46', 'C54'], dtype=object)